# Byte-compiled
__pycache__/ 
*.py[cod]
*$py.class
*.pyc
.mypy_cache/


# Packages & Distribution
bin/
lib/
include/
build/
dist/
.Python
staticfiles

# Installer logs
pip-log.txt

# Flask stuff:
instance/
.webassets-cache


# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/

